html {
  background-color: white;
}

html, body {
  height: 100%;
}

ul#TopBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#TopBar li {
  float: right;
}

ul#TopBar li a {
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.img-circle {
  border-radius: 50%;
}


.main {
    display: block;
    text-align: center;
    clear: both;
}

#Logo {
  position: relative;
  top: 150px;
}

.form {
  text-align: center;
  display: inline;
}


#SearchBar {
  font-size: 16px;
  font-family: Arial;
  position: relative;
  top: 180px;
  width: 500px;
  height: 30px;
  border: 1px solid #EAE3DA;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: url(chrome-extension://hmanckoiohnlgdommlcckcflkmllobgj/assets/system-icons/search_24px.svg) no-repeat 5px 5px;
  padding-left: 40px;
}

#Voice {
  display: inline-block;
  position: relative;
  top: 192px;
}

ul#BottomBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul#BottomBar li.left {
  float: left;
}

ul#BottomBar li.right {
  float: right;
}

ul#BottomBar li a {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: gray;
}

ul#BottomBar li a:hover {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: underline;
  color: gray;
}
